@import url('https://fonts.googleapis.com/css2?family=Pixelify+Sans:wght@400;700&display=swap');
@import "tailwindcss";

@font-face {
  font-family: 'Pixelated';
  src: url("../public/PixelatedEleganceRegular-ovyAA.ttf");
}

* {
  font-family: 'Pixelated';
  box-sizing: border-box;
  cursor: url('/public/images/cursor.png'), auto;
}